<% if (theme.weibo.id){ %>
<div class="widget weibo">
<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=1&ptype=1&speed=0&skin=2&isTitle=0&noborder=0&isWeibo=1&isFans=0&uid=<%= theme.weibo.id %>&verifier=388d5a80&dpc=1"></iframe>
</div>
<% }%>