// Color
color-background = RGB(74,82,90)
color-font = #444
color-meta = #999
color-border = #ddd
color-link = #258fb8
color-out = #FFF
// Font
font-default = "Microsoft YaHei", "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-title = "Microsoft YaHei", "Lato", Helvetica Neue, Helvetica, Arial, sans-serif

@import url(//fonts.googleapis.com/css?family=Lato:400,400italic)

font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}

// Width
page-width = 900px

background-img = url('http://i.imgur.com/bfqObKJ.png') repeat fixed
avatar-radius = 40px

block-background = #fff