#header
  margin 50px auto
  background block-background
  padding 20px 0
  a
    color color-meta
    font-size 1.2em
    &:hover
      color color-link
      text-decoration none

    
  h1
    font-weight normal
    line-height 1

  h2
    font-weight normal
    line-height 1
    margin-top 10px
  .avatar
    border-radius avatar-radius
    -webkit-border-radius avatar-radius
    margin-left 20px
  #main-nav
    font-family font-title
    line-height 2.5em

    margin-top 20px
    ul
      list-style none
      li
        float left
        margin-left 30px
    a
      padding 10px